<% if(typeof added != 'undefined') { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= added %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<% } %>

        <!-- Main Slider Start -->
        <div class="header">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <nav class="navbar bg-light">
                          <ul class="navbar-nav">
                              <li class="nav-item">
                                  <a class="nav-link" href="adventure-books"><i class="fa fa-atlas"></i>Adventure</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="horror-books"><i class="fa fa-book-dead"></i>Horror</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="comedy-books"><i class="fa fa-grin-beam"></i>Comedy</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="romance-books"><i class="fa fa-heart"></i>Romance</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="fiction-books"><i class="fa fa-book"></i>Fiction</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="technology-books"><i class="fa fa-satellite-dish"></i>Technology</a>
                              </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-6">
                      <div class="product-view">
                          <!-- <div class="container-fluid"> -->
                                  <!-- <div class="col-lg-8"> -->
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="product-item">
                                                <div class="product-title">
                                                    <a href="#">one indian girl</a>
                                                    <div class="ratting">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="product-image">
                                                    <a href="product-detail.html">
                                                        <img src="img/fic1.jpg" alt="Product Image">
                                                    </a>
                                                    <div class="product-action">
                                                        <a href="#"><i class="fa fa-cart-plus"></i></a>
                                                        <a href="#"><i class="fa fa-heart"></i></a>

                                                    </div>
                                                </div>
                                                <div class="product-price">
                                                    <h3><span>$</span>536</h3>
                                                    <form action="/fiction-books" method="POST">
                                                      <a>  <button name="booktitle" class="btn" type="submit" value="one indian girl"><i class="fa fa-shopping-cart"></i>Buy Now</a>
                                                      </button>
                                                      </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="product-item">
                                                <div class="product-title">
                                                    <a href="#">game of thrones</a>
                                                    <div class="ratting">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="product-image">
                                                    <a href="product-detail.html">
                                                        <img src="img/fic2.jpg" alt="Product Image">
                                                    </a>
                                                    <div class="product-action">
                                                        <a href="#"><i class="fa fa-cart-plus"></i></a>
                                                        <a href="#"><i class="fa fa-heart"></i></a>

                                                    </div>
                                                </div>
                                                <div class="product-price">
                                                    <h3><span>$</span>231</h3>
                                                    <form action="/fiction-books" method="POST">
                                                      <a>  <button name="booktitle" class="btn" type="submit" value="game of thrones"><i class="fa fa-shopping-cart"></i>Buy Now</a>
                                                      </button>
                                                      </form>
                                                </div>
                                            </div>
                                        </div>
                                  <!-- </div> -->
                          <!-- </div> -->
                      </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Main Slider End -->
